.nav {
	display: flex;
	margin: 0 auto;
	max-width: 90%;
	align-items: center;
	gap: 20px;
	padding: 40px 0 20px;
}

.filters {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #757171;
	border-left: 1px #dedede solid;
	padding-left: 20px;
	font-weight: 500;
}

.arrows {
	margin-left: auto;
}
