.nav {
	display: flex;
	margin: 0 auto;
	max-width: 90%;
	align-items: center;
	gap: 20px;
	padding: 40px 0 20px;
}

.filters {
	display: flex;
	align-items: center;
	gap: 5px;
	color: #757171;
	border-left: 1px #dedede solid;
	padding-left: 20px;
	font-weight: 500;
}

.select__container {
	display: flex;
	gap: 10px;
	align-items: center;
}

.arrows {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-left: auto;
	filter: invert(70%);
}

.arrows__right:hover,
.arrows__left:hover {
	filter: invert(80%);
	cursor: pointer;
}
