.button {
	border-radius: 999px;
	background: #ededed;
	padding: 5px 15px;
	border: none;
	color: #757171;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.active {
	background-color: #a5039a;
	color: #ffffff;
}

.button:hover {
	background-color: #a5039a;
	color: #ffffff;
}

.active:hover {
	background: #a5039a;
	color: #ffffff;
}

@media (max-width: 910px) {
	.button {
		padding: 10px 10px;
	}
}
